BANK_NAME="My Branch Bank"
BANK_ADDRESS="http://localhost:8000"
CENTRAL_BANK_URL="https://test.diarainfra.com/central-bank/api/v1"

PRIVATE_KEY_PATH="keys/private_key.pem"
PUBLIC_KEY_PATH="keys/public_key.pem"

HEARTBEAT_INTERVAL_MINUTES=25

DATABASE_URL="sqlite:///./bank.db"
